$body-bg: #0f0f0f;
$main-color: #ff0000;
$text-color: #fff;

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

$font-family: "Montserrat", sans-serif;

$breakpoints: (
	xs: 0,
	sm: 576,
	md: 768,
	lg: 992,
	xl: 1200,
	xxl: 1300,
);
