@use "../../sass/variable" as var;
@use "../../sass/mediaquery" as *;
.header-wrapper {
	height: 8rem;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	transition: all 0.3s;
	z-index: 50;
	&.shrink {
		height: 4rem;
		background-color: var.$body-bg;
	}
	.brand {
		font-size: 1.8rem;
		font-weight: 500;
		@include maxmediaquery("sm") {
			font-size: 1.5rem;
		}
	}
	.container {
		height: 100%;
	}
	.header-nav > li {
		position: relative;
		font-size: 1.3rem;
		font-weight: 700;
		@include maxmediaquery("md") {
			font-size: 1.1rem;
		}
		a {
			padding: 5px;
		}
		&::after {
			content: "";
			position: absolute;
			left: 50%;
			bottom: 0px;
			transform: translateX(-50%);
			height: 2px;
			background-color: var.$main-color;
			width: 0px;
			transition: all 0.5s;
		}
		&:hover::after,
		&.active::after {
			width: 100%;
		}
	}

	.header-nav {
		@include maxmediaquery("sm") {
			position: fixed;
			left: 0px;
			width: 100%;
			bottom: 0px;
			justify-content: space-between;
			background-color: var.$body-bg;
			padding: 0.5rem;
			box-shadow: var.$box-shadow;
		}
	}
}
